apiVersion: batch/v1
kind: Job
metadata:
    name: seedgpt-5aba20e44b8ba0f189f454f12cb0b1f973a71185
    namespace: seedgpt
spec:
    backoffLimit: 0
    ttlSecondsAfterFinished: 604800
    template:
        metadata:
            labels:
                app: seedgpt
        spec:
            restartPolicy: Never
            automountServiceAccountToken: false
            containers:
                -   name: seedgpt
                    image: "seedgpt/seedgpt:5aba20e44b8ba0f189f454f12cb0b1f973a71185"
                    imagePullPolicy: Always
                    envFrom:
                        -   secretRef:
                                name: seedgpt-secrets
                    resources:
                        requests:
                            cpu: 50m
                            memory: 128Mi
                        limits:
                            cpu: 500m
                            memory: 512Mi
