apiVersion: batch/v1
kind: Job
metadata:
    name: seedgpt-eaa8f65a7f79552bca0131150e50b2858612d8e2
    namespace: seedgpt
spec:
    backoffLimit: 0
    ttlSecondsAfterFinished: 604800
    template:
        metadata:
            labels:
                app: seedgpt
        spec:
            restartPolicy: Never
            automountServiceAccountToken: false
            containers:
                -   name: seedgpt
                    image: "seedgpt/seedgpt:eaa8f65a7f79552bca0131150e50b2858612d8e2"
                    imagePullPolicy: Always
                    envFrom:
                        -   secretRef:
                                name: seedgpt-secrets
                    resources:
                        requests:
                            cpu: 50m
                            memory: 128Mi
                        limits:
                            cpu: 500m
                            memory: 512Mi
