apiVersion: batch/v1
kind: Job
metadata:
    name: seedgpt-b59a3c97fb60cf5c06b3b01afd8d0e8319db90f1
    namespace: seedgpt
spec:
    backoffLimit: 0
    ttlSecondsAfterFinished: 604800
    template:
        metadata:
            labels:
                app: seedgpt
        spec:
            restartPolicy: Never
            automountServiceAccountToken: false
            containers:
                -   name: seedgpt
                    image: "seedgpt/seedgpt:b59a3c97fb60cf5c06b3b01afd8d0e8319db90f1"
                    imagePullPolicy: Always
                    envFrom:
                        -   secretRef:
                                name: seedgpt-secrets
                    resources:
                        requests:
                            cpu: 50m
                            memory: 128Mi
                        limits:
                            cpu: 500m
                            memory: 512Mi
