apiVersion: batch/v1
kind: Job
metadata:
    name: seedgpt-91a9d9979ced35abf0fadd7962b56367254bb93e
    namespace: seedgpt
spec:
    backoffLimit: 0
    ttlSecondsAfterFinished: 604800
    template:
        metadata:
            labels:
                app: seedgpt
        spec:
            restartPolicy: Never
            automountServiceAccountToken: false
            containers:
                -   name: seedgpt
                    image: "seedgpt/seedgpt:91a9d9979ced35abf0fadd7962b56367254bb93e"
                    imagePullPolicy: Always
                    envFrom:
                        -   secretRef:
                                name: seedgpt-secrets
                    resources:
                        requests:
                            cpu: 50m
                            memory: 128Mi
                        limits:
                            cpu: 500m
                            memory: 512Mi
