apiVersion: batch/v1
kind: Job
metadata:
    name: seedgpt-6e210563fea11a8b63cc285b7c2e0aee700d7df1
    namespace: seedgpt
spec:
    backoffLimit: 0
    ttlSecondsAfterFinished: 604800
    template:
        metadata:
            labels:
                app: seedgpt
        spec:
            restartPolicy: Never
            automountServiceAccountToken: false
            containers:
                -   name: seedgpt
                    image: "seedgpt/seedgpt:6e210563fea11a8b63cc285b7c2e0aee700d7df1"
                    imagePullPolicy: Always
                    envFrom:
                        -   secretRef:
                                name: seedgpt-secrets
                    resources:
                        requests:
                            cpu: 50m
                            memory: 128Mi
                        limits:
                            cpu: 500m
                            memory: 512Mi
